$attributes-color: deepskyblue;
$grey: #939393;

img.img-responsive {
  max-width: 70px;

}

products-list {
  font-size: 1.2rem;
  color: $grey;

  .row {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .product-price {
    font-size: 2rem;
    color: black;
  }
  .measure {
    font-size: 1.5rem;
    color: black;
  }

  .product-details {
    height: 12rem;

    .name {
      font-size: 1.3rem;
      font-weight: 600;
      height: 33%;
    }

    .btw {
      height: 33%;
    }

    ul.attributes {
      list-style: none;
      color: $attributes-color;
      padding: 0;
      height: auto;

      li {
        display: inline-block;
        margin-right: 0.8rem;
      }
    }

  }
}