<div class="row">
    <div class="col-md-2">
        <img src="/assets/images/platki.jpg" alt="Produkt"
             class="img-responsive img-rounded" />
    </div>
    <div class="col-md-8 product-details">
        <div class="name">Ser typu feta (niebieski) - Mlekovita</div>
        <div class="btw">Białko: 20g Tłuszcz: 10g Węglowodany: 0g</div>
        <ul class="attributes">
            <li>wegetarianski</li>
            <li>bez cukru</li>
            <li>wegetarianski</li>
            <li>bez cukru</li>
            <li>wegetarianski</li>
            <li>bez cukru</li>
            <li>wegetarianski</li>
            <li>bez cukru</li>
        </ul>
    </div>
    <div class="col-md-2">
        <div>
            <span class="product-price">5,99zł</span>
            <span class="measure">/s​​​​​​​zt</span>
        </div>
        <div>10.12.2016</div>
    </div>
</div>