.input__container {
    position: relative;
    display: inline-block;
    flex: 1 0 0;
    min-width: 0;
    margin: $small-gutter;
}

.input__field {
    position: relative;
    padding: 0.8em 0.9rem;
    background: #f4f4f4;
    font-size: 0.9rem;
    display: block;
    border: none;
    outline: none;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.25s;

    &.checked {
        outline: 2px solid #e8fffd;
    }

    &.ng-touched.ng-not-empty {
        background: #119fe1;
        color: #fff;
        font-weight: 700;
    }

    &.lighter{
        background: #fafafa;
    }

    &.higher{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    &.small{
        font-size: 0.8rem;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    appearance: none;
    -moz-appearance: none;
}

.input__required {
    position: absolute;
    left: -0.7rem;
    top: 0.3rem;
    font-size: 1.2rem;
    color: #f29700;
}

.input__label{
    font-size: 0.7rem;
    color: #bbb;
    margin-bottom: 0.35em;
    font-weight: 400;
}
