.input__container {
    position: relative;
    display: inline-block;
    flex: 1 0 0;
    min-width: 0;
    margin: $small-gutter;

    .input__field{
      background: #fafafa;
    }
}

.input__field {
    position: relative;
    padding: 0.8em 1em;
    background: #f4f4f4;
    font-size: 0.9rem;
    display: block;
    border: none;
    outline: none;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    &.checked {
        outline: 2px solid #e8fffd;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    appearance: none;
    -moz-appearance: none;
}
