.l-flex-row {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;

    &.small-gutter {
        margin-left: -$small-gutter;
        margin-right: -$small-gutter;
    }

    &.center{
        justify-content: center;
    }
}

.l-container{
    max-width: 900px;
    margin-top: 5rem;
}
