@import "filters/filters.styles";

.meals_list-header {
    display: flex;

}

.meals__list-container{
    padding-top: 1rem;
}

.meals__meals-list {
    margin-top: 4rem;
}

.meals__img-wrapper{
    flex: 0 0 10rem;
    background: #eee;
    margin-right: 2rem;
}

.meals__img{
    width: 100%;
    opacity: 0; // Temporary!!!
}

.meals__list-desc{
    flex: 1 0 0;

    &>.l-flex-row{
        align-items: baseline;
        margin-bottom: 0;
    }
}

.meals__list-row {
    padding: 1.5rem;
    background: #fafafa;
    margin-bottom: 0.5rem;

    &:hover .ct-btn__trash{
        opacity: 1;
        margin-right: 0.5rem;
    }
}

.meals__meal-name {
    font-size: 1.3rem;
}

.meals__meal-time{
    margin-left: 1.7em;
    font-size: 0.9rem;

    .glyphicon-time{
        color: #119fe1;
        margin-right: 0.35em;
        font-size: 0.8em;
    }
}

.meals__meal-type {
    color: #999;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.meals__meal-calories {
    font-weight: 700;
    font-size: 1rem;
    color: #119fe1;
    margin-bottom: 1.2rem;
}

.meals__meal-buttons {
    display: flex;
    align-items: flex-start;

    .ct-btn__trash{
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        font-size: 0.9rem;
        opacity: 0;
        margin-right: 0;
        width: -0.5rem;
        transition: 0.5s;
    }
}
