<header class="module-header">Moje posilki 53</header>

<!--Filters-->
<section ng-if="!$ctrl.filtersOff"
         ng-include="'/modules/meals/list/filters/filters.template.html'">
</section>

<table class="table">
    <thead>
    <tr>
        <th class="col-md-3">Posilek</th>
        <th class="col-md-2">Rodzaj</th>
        <th class="col-md-2">Czas</th>
        <th class="col-md-2">Kalorycznosc</th>
        <th class="col-md-2"></th>
        <th class="col-md-1"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="meal in $ctrl.meals">
        <td class="col-md-3">{{meal.name}}</td>
        <td class="col-md-2">{{meal.type}}</td>
        <td class="col-md-2">{{meal.time}}</td>
        <td class="col-md-2">{{meal.calories}}</td>
        <td class="col-md-2">
            <button ng-click="$ctrl.showDetails()">Szczegoly</button>
        </td>
        <td class="col-md-1">
            <button style="background: red;">U</button>
        </td>
    </tr>
    </tbody>
</table>
<button ng-click="$ctrl.showNewMealModal()"
        class="ct-btn ct-btn__primary">+ new meal</button>

<!--Details modal-->
<bootstrap-modal modal-id="detailsModal">
    <meal-details></meal-details>
</bootstrap-modal>

<!--New Meal modal-->
<bootstrap-modal modal-id="newMealModal">
    <meal-modal-new></meal-modal-new>
</bootstrap-modal>
