<header class="module-header no-margin">Posilki</header>

<div class="meals_list-header">
    <button ng-click="$ctrl.showNewMealModal()"
            class="ct-btn ct-btn__secondary right">Dodaj posiłek
    </button>
</div>

<div class="meals__list-container">
    <!--Filters-->
    <section ng-if="!$ctrl.filtersOff"
             ng-include="'/modules/meals/list/filters/filters.template.html'">
    </section>

    <!-- Meals list -->
    <div class="meals__meals-list">
        <div ng-repeat="meal in $ctrl.meals">
            <meal-list-item item="meal"
                            refresh-list="$ctrl.getMeals()"></meal-list-item>
        </div>
    </div>
</div>

<!--Details modal-->
<bootstrap-modal modal-id="detailsModal">
    <meal-details></meal-details>
</bootstrap-modal>

<!--New Meal modal-->
<bootstrap-modal modal-id="newMealModal">
    <meal-modal-new></meal-modal-new>
</bootstrap-modal>

