@import "filters/filters.styles";

.meals_list-header {
    display: flex;

    .ct-btn{
        margin-left: auto;
    }
}

.meals__list-container{
    padding-top: 1rem;
}

.meals__meal-name{
    flex: 2 0 0;
    color: #0e0e0e;
    font-size: 0.85rem;
}
.meals__meal-buttons{
    flex-basis: 13rem;
    justify-content: flex-end;
}
.meals__meal-type,
.meals__meal-time,
.meals__meal-calories{
    flex: 1 0 0;
}

.meals__meals-list{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.meals__meal-time .glyphicon {
    margin-right: 5px;
    color: #8fc800;
    font-size: 0.85em;
}

.list__row {
    background: #fafafa;
    margin: 0.4em 0;
    font-size: 0.9rem;
    color: #707070;

    &.header{
        font-size: 0.75rem;
        background: transparent;
    }
}

.list__item{
    padding: 0.8rem 1.5rem;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &.header{
        padding-bottom: 0.5em;
        color: #aaa;
    }

    .ct-btn{
        padding: 0.4em 2em;
        margin-bottom: 0;
        font-size: 0.7rem;
    }

    .ct-btn__trash{
        margin-left: 1em;
        font-size: 0.9rem;
    }
}
