body,
html {
  font-size: 14px;
}

//Variables
//Gutter
$small-gutter: 0.2rem;

// Globalne
.input__container {
  position: relative;
  display: inline-block;
  flex: 1 0 auto;
  min-width: 0;
  margin: $small-gutter;
}

.input__field {
  position: relative;
  padding: 0.8em 1em;
  background: #f4f4f4;
  font-size: 0.9rem;
  display: block;

  &.checked {
    background: #98ffea;
  }
}

.input__field {
  border: none;
  outline: none;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  appearance: none;
  -moz-appearance: none;
}

//Meals
.meals__input-search {
  flex: 2;
}

//Layout
.l-flex-row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  &.small-gutter {
    margin-left: -$small-gutter;
    margin-right: -$small-gutter;
  }
}
