<section>
    <select style="display: block">
        <option value="Sniadanie">Rodzaj posilku</option>
        <option value="Sniadanie">Sniadanie</option>
        <option value="Sniadanie">Sniadanie</option>
        <option value="Sniadanie">Sniadanie</option>
    </select>

    <div>
        <select>
            <option value="Sniadanie">Czas wykonania posilku</option>
            <option value="Sniadanie">Sniadanie</option>
            <option value="Sniadanie">Sniadanie</option>
            <option value="Sniadanie">Sniadanie</option>
        </select>

        <input placeholder="Kalorycznosc od" />
        <input placeholder="Kalorycznosc do" />
    </div>


    <input type="checkbox" /> <span>weganskie</span>
    <input type="checkbox" /> <span>weganskie</span>
    <input type="checkbox" /> <span>weganskie</span>
    <input type="checkbox" /> <span>weganskie</span>
    <input type="checkbox" /> <span>weganskie</span>
    <input type="checkbox" /> <span>weganskie</span>
    <input type="checkbox" /> <span>weganskie</span>
    <input type="checkbox" /> <span>weganskie</span>

    <input type="search" placeholder="Szukaj" style="display: block;">
</section>