<section>
    <select style="display: block">
        <option value="Sniadanie">Rodzaj posilku</option>
        <option value="Sniadanie">Sniadanie</option>
        <option value="Sniadanie">Sniadanie</option>
        <option value="Sniadanie">Sniadanie</option>
    </select>

    <div>
        <select>
            <option value="Sniadanie">Czas wykonania posilku</option>
            <option value="Sniadanie">Sniadanie</option>
            <option value="Sniadanie">Sniadanie</option>
            <option value="Sniadanie">Sniadanie</option>
        </select>

        <input placeholder="Kalorycznosc od" />
        <input placeholder="Kalorycznosc do" />
    </div>


    <input type="checkbox" /> <span>weganskie</span>
    <input type="checkbox" /> <span>weganskie</span>
    <input type="checkbox" /> <span>weganskie</span>
    <input type="checkbox" /> <span>weganskie</span>
    <input type="checkbox" /> <span>weganskie</span>
    <input type="checkbox" /> <span>weganskie</span>
    <input type="checkbox" /> <span>weganskie</span>
    <input type="checkbox" /> <span>weganskie</span>

    <input type="search" placeholder="Szukaj" style="display: block;">
</section>

<div class="meals__filters">
    <div class="l-flex-row small-gutter">
        <div class="select__container">
            <div class="select__field"  type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rodzaj posilku
                <span class="select__arrow">⇕</span>
            </div>
            <ul class="select__menu dropdown-menu">
                <li class="select__menu-item"><a href="#">Sniadanie</a></li>
                <li class="select__menu-item"><a href="#">Obiad</a></li>
                <li class="select__menu-item"><a href="#">Kolacja</a></li>
            </ul>
        </div>

        <!--Przypadek gdy select jest zaznaczony -->
        <div class="select__container">
            <div class="select__field checked"  type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sniadanie
                <!-- Po nacisnieciu x wraca do stanu poczatkowego -->
                <span class="select__clear">x</span>
            </div>
            <ul class="select__menu dropdown-menu">
                <li class="select__menu-item checked"><a href="#">Sniadanie</a></li>
                <li class="select__menu-item"><a href="#">Obiad</a></li>
                <li class="select__menu-item"><a href="#">Kolacja</a></li>
            </ul>
        </div>

        <div class="input__container">
            <input type="number" name="" value="" class="input__field" placeholder="Kaloryczność od">
        </div>

        <div class="input__container">
            <input type="number" name="" value="" class="input__field" placeholder="Kaloryczność do">
        </div>

        <div class="input__container meals__input-search">
            <input type="search" name="" value="" class="input__field" placeholder="Szukaj">
        </div>
    </div>


    <div class="row">
        <div class="col-xs-6">
            <div class="cooking-time-container l-flex-row small-gutter">
                <span class="pill">5min</span>
                <span class="pill">10min</span>
                <span class="pill checked">15min</span>
                <span class="pill">20min</span>
                <span class="pill">30min</span>
                <span class="pill">20min</span>
                <span class="pill">30min</span>
                <span class="pill">20min</span>
                <span class="pill">30min</span>
            </div>
        </div>
        <div class="col-xs-6">

        </div>
    </div>
</div>
