.products__filters {
    padding-bottom: 3rem;

    .input__field{
        background: #fafafa;
    }
}

.products__input-search{
    flex: 2 0 0 !important;
}

.products__atributes{
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}
