<section class="products__filters">
    <div class="l-flex-row small-gutter">
        <!--Category -->
        <ct-select class="select__container"
                   title="Kategoria"
                   ng-model="$ctrl.filters.category"
                   ng-change="$ctrl.categoryChanged()"
                   options="$ctrl.productCategs"></ct-select>

        <!--Subcategory-->
        <ct-select class="select__container"
                   title="Podkategoria"
                   ng-model="$ctrl.filters.subcategory"
                   ng-change="$ctrl.filterChanged()"
                   options="$ctrl.filters.category.subtypes"></ct-select>

        <!--Search-->
        <div class="input__container input__search products__input-search">
            <input ng-model-options="{debounce: 1000}"
                   ng-model="$ctrl.filters.name"
                   ng-change="$ctrl.filterChanged()"
                   type="search" class="input__field lighter" placeholder="Szukaj">
        </div>
    </div>

    <!-- Atributes -->
    <section class="products__atributes">
        <ct-checkbox ng-repeat="attr in $ctrl.productAttrs"
                     label="{{attr.label}}"
                     on-change="$ctrl.attrToggled(val, label)"
                     group="filterAttrs"
                     class="ct-checkbox__container">
        </ct-checkbox>
    </section>
</section>
