<div class="l-flex-row meals__list-row">
    <!-- Image -->
    <div class="meals__img-wrapper">
        <img src="/assets/images/platki.jpg" alt="Produkt"
             class="meals__img" />
    </div>

    <div class="meals__list-desc">

        <div class="l-flex-row">
            <!-- Name -->
            <div class="meals__meal-name">
                {{$ctrl.item.name}}
            </div>

            <!-- Time -->
            <div class="meals__meal-time">
                <span class="glyphicon glyphicon-time"></span>{{$ctrl.item.time}}
            </div>
        </div>

        <!-- Type -->
        <div class="meals__meal-type">
            {{$ctrl.item.type}}
        </div>

        <!-- Calories -->
        <div class="meals__meal-calories">
            {{$ctrl.item.calories}} kcal
        </div>

        <!-- Atributes -->
        <div class="products__list-atributes">
            <p ng-repeat="attr in $ctrl.item.attributes"
               class="products__list-atributes-item">
                {{attr}}
            </p>
        </div>
    </div>

    <!-- Buttons -->
    <div class="meals__meal-buttons">
        <button class="ct-btn__trash glyphicon glyphicon-trash"
                ng-click="$ctrl.showDeleteModal()"></button>
        <button ng-click="$ctrl.showIngredients()"
                class="ct-btn ct-btn__secondary smaller thin-border">Szczegoly
        </button>

    </div>

    <!--Ingredients-->
    <div ng-show="$ctrl.ingredientsVisible">
        <meal-ingredients meal="$ctrl.item"></meal-ingredients>
    </div>
</div>

<!--Delete Meal Modal-->
<bootstrap-modal modal-id="deleteMealModal">
    <meal-modal-delete meal-id="{{$ctrl.item._id}}"
                       done="$ctrl.done(result)"></meal-modal-delete>
</bootstrap-modal>
