menu {
  width: 100%;
  padding-left: 15px;
  float: left;

  li {
    cursor: pointer;
  }

  li.menu-item-active {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
  }
}