.m-timetable-home__day {
  display: inline-block;
  padding: 4px;
  background-color: beige;
  cursor: pointer;
}

.m-timetable-home__nav {
  list-style: none;
}

.l-btn__arrow {
  display: inline-block;
}
