<button ng-click="$ctrl.refresh()"
        class="l-refresh__button"> refresh
    <img src="static/assets/images/icon-refresh.svg" />
</button>

<ul class="m-timetable-home__nav">

    <li class="l-btn__arrow
                l-btn__arrow--prev">
        <button ng-click="$ctrl.previousDay()"><</button>
    </li>

    <li ng-repeat="day in $ctrl.beforeDays"
        ng-class="{'m-timetable-home__day--weekend':
                    day.weekend,
                    'm-timetable-home__day--current':
                    $ctrl.isToday(day)}"
        ng-init="reversedIdx = $ctrl.beforeDays.length - $index"
        ng-click="$ctrl.removeDays(reversedIdx)"
        style="cursor: pointer"
        class="m-timetable-home__day">
        {{day.day}}
    </li>
    <li class="m-timetable-home__day
                m-timetable-home__day--active">
        <h3 class="day-name">
            {{$ctrl.selectedDay.format('ddd')}}
        </h3>
        {{$ctrl.selectedDay.format('DD')}}
    </li>
    <li ng-repeat="day in $ctrl.afterDays"
        ng-class="{'m-timetable-home__day--weekend':
                    day.weekend}"
        ng-click="$ctrl.addDays($index + 1)"
        style="cursor: pointer"
        class="m-timetable-home__day">
        {{day.day}}
    </li>

    <li class="l-btn__arrow
                l-btn__arrow--next">
        <button ng-click="$ctrl.nextDay()">></button>
    </li>
</ul>
