.meals__filters .input__search {
  flex: 2 0 0;
}

.meals__calories-input{
    flex: 0 0 9rem;
}

.meals__atributes{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.meals__time-caption {
    font-size: 0.7rem;
    color: #999;
    margin-bottom: 0.5em;
}
