/*COLORS***/

//Main color
$main-color: #593bff; // blue
$main-color--darker: #442ebd;
$main-color--darker2: #322383;
$main-color--lighter: #e5e0ff;
$main-color--lighter2: #f5f3ff;

//Call to action color
$cta-color: #e8366c; //pink

//Success color
$success-color: #d7e836; //green

//Warning color
$warning-color: #ff9f22; //orange

//Success color
$error-color: red; //red


/*MIXINS***/

// Fade
@mixin fade($delay){
  animation: fade 0.4s $delay both;
}

// Shows
@mixin btn-close__show($delay){
  animation: btn-close__show 0.3s $delay both;
}


.m-modals__mask {
  z-index: 1;

  &::after {
    content: "";
    background: transparent;
    transition: 0.5s;
    z-index: 999;
  }

  &.is-open {
    z-index: 3;
  }

  &.is-open::after {
    content: "";
    width: 100%;
    height: 100%;
    //background: transparentize($main-color--darker2, 0.2);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.m-modals__add-modal {
  display: none;
  position: absolute;
  background: $main-color--darker;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 40px rgba(4, 4, 4, 0.44);
  z-index: 9999;
  left: 50%;
  top: 50%;
  transform-origin: center;
  width: 18rem;
  @media only screen and (max-width: 48em) {
    max-width: 120%;
  }

  .l-btn__primary {
    box-shadow: 2px 2px 10px transparentize($main-color--darker2, 0.6);
  }

  h5 {
    font-size: 1.2em;
    color: #fff;
    margin-top: 0;
    margin-bottom: 1.3em;
  }

  &.is-open {
    display: block;
    animation: modal-open 0.3s both;
  }
  &.is-close {
    display: block;
    animation: modal-close 0.15s both;
  }
}

.m-modals__info-desc {
  color: rgba(255, 255, 255, 0.86);
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
