<section>
    <div class="header-btn-cont">
        <span class="header-btn active">Wszystkie</span>
        <span class="header-btn">Moje Produkty</span>
    </div>
    <div class="products__list-container">
        <!--Filters-->
        <header ng-include="'/components/products list/filters/filters.template.html'">

        </header>
        <!--List-->
        <div class="list">
            <products-list-item></products-list-item>
            <products-list-item></products-list-item>
            <products-list-item></products-list-item>
            <products-list-item></products-list-item>
            <products-list-item></products-list-item>
        </div>
    </div>
</section>
