<header>Moje posilki 53</header>

<!--Filters-->
<section ng-if="!$ctrl.filtersOff"
         ng-include="'/components/meals list/filters/filters.template.html'">
</section>

<!--Table-->
<ct-list>
    <ct-list-header>
        <ct-list-cell class="col-md-3">Posilek</ct-list-cell>
        <ct-list-cell class="col-md-2">Rodzaj</ct-list-cell>
        <ct-list-cell class="col-md-2">Czas</ct-list-cell>
        <ct-list-cell class="col-md-2">Kalorycznosc</ct-list-cell>
        <ct-list-cell class="col-md-2"></ct-list-cell>
        <ct-list-cell class="col-md-1"></ct-list-cell>
    </ct-list-header>
    <ct-list-body>
        <ct-list-row ng-repeat="meal in $ctrl.meals">
            <ct-list-cell class="col-md-3">{{meal.name}}</ct-list-cell>
            <ct-list-cell class="col-md-2">{{meal.type}}</ct-list-cell>
            <ct-list-cell class="col-md-2">{{meal.time}}</ct-list-cell>
            <ct-list-cell class="col-md-2">{{meal.calories}}</ct-list-cell>
            <ct-list-cell class="col-md-2">
                <button>Szczegoly</button>
            </ct-list-cell>
            <ct-list-cell class="col-md-1">
                <button style="background: red;">U</button>
            </ct-list-cell>
        </ct-list-row>
    </ct-list-body>
</ct-list>
