@import "list item/list_item.styles";
@import "filters/filters.styles";


.products__list-header{
    display: flex;
    align-items: center;

    .ct-btn{
        margin-left: auto;
    }
}

.products__list-tab {
    position: relative;
    font-size: 0.8rem;
    cursor: pointer;
    margin-right: 2em;
    display: inline-block;
    color: #ccc;
    transition: 0.2s;

    &.active{
        color: #333;
        font-weight: 700;

        &:after{
            content: "";
            width: 100%;
            height: 0.2rem;
            background: #119fe1;
            position: absolute;
            bottom: -0.55em;
            left: 0;
        }
    }
}

.products__list-container{
    padding-top: 1rem;
}
