<header class="row" style="background-color: grey;">
    <div class="col-md-4">
        {{$ctrl.meal.name}} [{{$ctrl.meal.type.label}}]
    </div>
    <div class="col-md-2">
        Time: {{$ctrl.meal.time}}
    </div>
    <div class="col-md-2">
        Price: {{$ctrl.meal.price}}
    </div>
    <!--Edit Btn - visible only on View mode-->
    <div ng-if="$ctrl.mode === 'view'"
         class="col-md-2 col-md-offset-2">
        <button>Edit</button>
    </div>
</header>
<section style="padding: 15px;">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Produkty</th>
            <th>Ilość</th>
            <th>Wartość odżywcza(</th>
            <th>Białko</th>
            <th>Węglowodany</th>
            <th>Tłuszcze</th>
        </tr>
        </thead>
        <tbody>

        <!--This row is visible only if there is no products added yet-->
        <tr>
            <td>Produkt...</td>
            <td>0 g</td>
            <td>0 kcal</td>
            <td>0 g</td>
            <td>0 g</td>
            <td>0 g</td>
        </tr>


        <tr>
            <td>Ryz biały</td>
            <td>200 g</td>
            <td>679 kcal</td>
            <td>13.4 g</td>
            <td>153.3 g</td>
            <td>1.4 g</td>
        </tr>
        <tr>
            <td>Ryz biały</td>
            <td>200 g</td>
            <td>679 kcal</td>
            <td>13.4 g</td>
            <td>153.3 g</td>
            <td>1.4 g</td>
        </tr>
        </tbody>
    </table>
    <button ng-click="$ctrl.showProductList()">+ Składnik</button>
</section>
