<section style="padding: 15px;">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Produkty</th>
            <th>Ilość</th>
            <th>Wartość odżywcza(</th>
            <th>Białko</th>
            <th>Węglowodany</th>
            <th>Tłuszcze</th>
        </tr>
        </thead>
        <tbody>

        <!--This row is visible only if there is no products added yet-->
        <tr ng-if="$ctrl.meal.ingredients.length === 0">
            <td>Produkt...</td>
            <td>0 g</td>
            <td>0 kcal</td>
            <td>0 g</td>
            <td>0 g</td>
            <td>0 g</td>
        </tr>

        <tr ng-repeat="ingredient in $ctrl.meal.ingredients">
            <td>{{ingredient.product.name}}</td>
            <td>{{ingredient.amount}} g</td>
            <td>{{ingredient.calories}} kcal</td>
            <td>{{ingredient.proteins}} g</td>
            <td>{{ingredient.carbs}} g</td>
            <td>{{ingredient.fats}} g</td>
        </tr>
        </tbody>
    </table>
</section>
