<div class="list-group">
    <a href="#" class="list-group-item">
        <div style="display: inline-block;width: 85%;">Platki Owsiane</div>
        <div style="display: inline-block;width: 10%;">100g</div>
    </a>
    <a href="#" class="list-group-item">
        <div style="display: inline-block;width: 85%;">Platki Owsiane</div>
        <div style="display: inline-block;width: 10%;">100g</div>
    </a>
    <a href="#" class="list-group-item">
        <div style="display: inline-block;width: 85%;">Platki Owsiane</div>
        <div style="display: inline-block;width: 10%;">100g</div>
    </a>
    <a href="#" class="list-group-item">
        <div style="display: inline-block;width: 85%;">Platki Owsiane</div>
        <div style="display: inline-block;width: 10%;">100g</div>
    </a>
    <a href="#" class="list-group-item">
        <div style="display: inline-block;width: 85%;">Platki Owsiane</div>
        <div style="display: inline-block;width: 10%;">100g</div>
    </a>
</div>