@import "tabs/first_tab";
@import "tabs/second_tab";
@import "tabs/third_tab";
@import "tabs/fourth_tab";
@import "tabs/fifth_tab";

//wyjeb to gdzies globalnie, generalnie jesli kontrolka bedzie nieprawidlowa to bedzie
//dostawac klase ng-invalid. Ng-dirty mowi ze ktos np wpisal text i go skasowal - podjal interakcje z ta kontrolka
input.ng-dirty.ng-invalid {
  background: red;
}
ct-select.ng-dirty.ng-invalid {
  color: red;
}

.modal-content {
    box-shadow: none;
    border: none;
    border-radius: 0;
}

.modal-body {
    padding: 3rem;
    padding-bottom: 4rem;
}

.modal__header {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
