<section class="products-list-filters">
    <div class="categories row">
        <div class="col-md-4">
            <select>
                <option value="Sniadanie">Kategoria</option>
                <option value="Sniadanie">Sniadanie</option>
                <option value="Sniadanie">Sniadanie</option>
                <option value="Sniadanie">Sniadanie</option>
            </select>
        </div>

        <div class="col-md-4">
            <select>
                <option value="Sniadanie">Kategoria</option>
                <option value="Sniadanie">Sniadanie</option>
                <option value="Sniadanie">Sniadanie</option>
                <option value="Sniadanie">Sniadanie</option>
            </select>
        </div>

        <div class="col-md-4">
            <button>Szukaj</button>
        </div>
    </div>

    <div class="attributes col-md-10 row">
        <div class="col-md-4">
            <input type="checkbox" /> <span>weganskie</span>
        </div>
        <div class="col-md-4">
            <input type="checkbox" /> <span>weganskie</span>
        </div>
        <div class="col-md-4">
            <input type="checkbox" /> <span>weganskie</span>
        </div>
        <div class="col-md-4">
            <input type="checkbox" /> <span>weganskie</span>
        </div>
        <div class="col-md-4">
            <input type="checkbox" /> <span>weganskie</span>
        </div>
        <div class="col-md-4">
            <input type="checkbox" /> <span>weganskie</span>
        </div>
        <div class="col-md-4">
            <input type="checkbox" /> <span>weganskie</span>
        </div>
    </div>
</section>