<header>
    <div class="modal__header">Czy chcesz aby Twój produkt został zweryfikowany i dodany do ogólnej bazy?</div>
    <div class="modal__aditional-info">
        <p>Zostanie on dodany do sekcji Moje produkty.<br>
        Jeżeli zaznaczysz "Nie, dziękuję" produkt pozostanie prywatny</p>
    </div>
</header>

<div class="ct-btn__wrapper l-flex-row center">
    <button ng-click="$ctrl.save(true)"
            class="ct-btn ct-btn__secondary bigger">
        Nie, dziękuję
    </button>
    <button ng-click="$ctrl.save(false)"
            class="ct-btn ct-btn__primary bigger">
        Tak
    </button>
</div>
