<header>
    <div class="modal__header">Nowy Produkt</div>
    <div class="modal__steps">Krok 4 z 4</div>
</header>
<section>
    <form name="fourthTabForm">
        <div class="modal__aditional-info fourthTab">
            <p>Wprowadzone ceny będą miały charakter wyłącznie orientacyjny</p>
        </div>

        <div class="products__fourthtab-box">
            <div class="l-flex-row small-gutter">
                <div class="input__container small-gutter">
                    <label class="input__label">
                        Cena (PLN) za
                        <div class="inline-dropdown">
                            <span class="dropdown-toggle" type="button"
                                  id="dropdownMenu2" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="true">
                                {{$ctrl.selectedPriceType.label}}
                                <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li ng-repeat="priceType in $ctrl.priceTypes">
                                    <a ng-click="$ctrl.selectPriceType(priceType)">{{priceType.label}}</a>
                                </li>
                            </ul>
                        </div>
                    </label>
                    <input required="required" type="number"
                           ng-model="$ctrl.newProduct.price"
                           placeholder="..."
                           class="input__field">
                </div>
            </div>

            <div ng-show="$ctrl.selectedPriceType.label === 'szt';"
                 class="l-flex-row small-gutter">
                <div class="input__container small-gutter">
                    <label class="input__label">
                        Waga (g) netto jednej sztuki
                    </label>

                    <input required="required" type="number"
                           placeholder="..."
                           class="input__field">
                </div>
            </div>
        </div>
    </form>
</section>

<div class="ct-btn__wrapper l-flex-row center">
    <button ng-click="$ctrl.prevTab()"
            class="ct-btn ct-btn__secondary bigger">Wróć
    </button>
    <button ng-disabled="fourthTabForm.$invalid"
            ng-click="$ctrl.nextTab()"
            class="ct-btn ct-btn__primary bigger">Zapisz
    </button>
</div>
