<header>
    <div>Nowy Product</div>
    <div>Krok 4 z 4</div>
</header>
<section>
    <form name="fourthTabForm">
        <div>Wprowadzone ceny będą miały charakter wyłącznie orientacyjny</div>
        <!--Zostawiam narazie jedna cene bo tak jak gadalismy to trzeba przemyslec-->
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <label>Cena za szt.</label>
                <input required="required" type="number"
                       ng-model="$ctrl.newProduct.price" class="form-control">
            </div>
        </div>
    </form>
</section>
<button ng-click="$ctrl.prevTab()"
        class="btn btn-default">
    Wroc
</button>
<button ng-disabled="fourthTabForm.$invalid"
        ng-click="$ctrl.nextTab()"
        class="btn btn-default">
    Zapisz
</button>