<header>
    <div class="modal__header">Nowy Produkt</div>
    <div class="modal__steps">Krok 2 z 4</div>
</header>
<section>
    <!--Image drop zone - visible if no image dropped yet-->
    <div ng-hide="$ctrl.file"
         ngf-drop="$ctrl.upload($file)" ngf-select ng-model="$ctrl.file" class="drop-box"
         ngf-drag-over-class="'dragover'" accept="image/*"
         ngf-pattern="'image/*'">
        Dodaj zdjęcie produktu
    </div>

    <!--Clear the selected image-->
    <button ng-show="$ctrl.file"
            ng-click="$ctrl.clearImageSelection()">X</button>

    <!--Thumbnail of the dropped image-->
    <img ng-show="$ctrl.file"
         style="max-width: 300px;
                max-height: 300px;
                margin-left: auto;
                margin-right: auto;
                display: block;"
         ngf-thumbnail="$ctrl.file" />

    <div class="modal__aditional-info">
        <p>dodanie zdjęcia jest opcjonalne</p>
    </div>
</section>

<div class="ct-btn__wrapper l-flex-row center">
    <button type="submit"
            ng-disabled="firstTabForm.$invalid"
            ng-click="$ctrl.prevTab()"
            class="ct-btn ct-btn__secondary bigger">Wróć
    </button>
    <button type="submit"
            ng-disabled="firstTabForm.$invalid"
            ng-click="$ctrl.nextTab()"
            class="ct-btn ct-btn__primary bigger">Dalej
    </button>
</div>
