<header>
    <div>Nowy Product</div>
    <div>Krok 2 z 4</div>
</header>
<section>
    <div ngf-drop ngf-select ng-model="$ctrl.file" class="drop-box"
         ngf-drag-over-class="'dragover'" accept="image/*"
         ngf-pattern="'image/*'">
    </div>
    <div ngf-no-file-drop>
        File Drag/Drop is not supported for this browser
    </div>

    <div>Dodanie zdjęcia jest opcjonalne</div>
</section>
<button ng-click="$ctrl.prevTab()"
        class="btn btn-default">
    Wroc
</button>
<button ng-click="$ctrl.nextTab()"
        class="btn btn-default">
    Dalej
</button>