<header>
    <div class="modal__header">Nowy Produkt</div>
    <div class="modal__steps">Krok 3 z 4</div>
</header>
<form name="thirdTabForm">
    <div class="l-flex-row small-gutter products__thirdtab-calories">
        <div class="input__container">
            <label class="input__label">
                Białko (g/100g)
                <span class="input__required">*</span>
            </label>
            <input required="required" type="number"
                   ng-model="$ctrl.newProduct.proteins"
                   placeholder="..."
                   class="input__field small">
        </div>
        <div class="input__container">
            <label class="input__label">
                Węglowodany (g/100g)
                <span class="input__required">*</span>
            </label>
            <input required="required" type="number"
                   ng-model="$ctrl.newProduct.carbs"
                   placeholder="..."
                   class="input__field small">
        </div>
        <div class="input__container">
            <label class="input__label">
                Tłuszcze (g/100g)
                <span class="input__required">*</span>
            </label>
            <input required="required" type="number"
                   ng-model="$ctrl.newProduct.fats"
                   placeholder="..."
                   class="input__field small">
        </div>
    </div>

    <div class="l-flex-row">
        <ct-checkbox label="{{attr.label}}"
                     on-change="$ctrl.attrToggled(val, label)"
                     group="newProduct"
                      ng-repeat="attr in $ctrl.productAttrs"
                     class="ct-checkbox__container">
        </ct-checkbox>
    </div>

    <div class="ct-btn__wrapper l-flex-row center">
        <button type="submit"
                ng-click="$ctrl.prevTab()"
                class="ct-btn ct-btn__secondary bigger">Wróć
        </button>
        <button type="submit"
                ng-disabled="thirdTabForm.$invalid"
                ng-click="$ctrl.nextTab()"
                class="ct-btn ct-btn__primary bigger">Dalej
        </button>
    </div>

    <div class="modal__aditional-info">
        <p><span class="required">*</span>wymagane</p>
    </div>
</form>
